{# empty Twig template #}
{% extends "base.html.twig" %}
{% block contenu %}
    {% if form.valide is defined %}
    {% if form.valide == true %}
        <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeCommentaire">Retourner sur la liste des commentaires</a></h1>

    {% else %}
        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeCommentaire">Retourner sur la liste des commentaires</a></h1>

    {% endif %}
    {% else %}
    <form method="POST" action="#">
        <h1 class="h3 mb-3 font-weight-normal">Envoyez un commentaire</h1>
        <label for="email" class="sr-only" >Email:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="{{ session.login }}" required hidden>
        <label for="message" class="sr-only">Message:</label>
        <textarea type="text" id="message" name="message" class="form-control" placeholder="Message" required ></textarea>
        <label for="note" class="sr-only">Note</label>
        <input type="number" id="note" name="note" class="form-control" placeholder="Note entre 1 et 5" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btCommentaire" id="btCommentaire">Ajouter</button>
    </form>
    {% endif %}
{% endblock %}