{# empty Twig template #}
{% extends "base.html.twig" %}
{% block contenu %}
    {% if form.valide is defined %}
    {% if form.valide == true %}
        <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeQuestion">Retourner sur la liste des questions</a></h1>

    {% else %}
        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeQuestion">Retourner sur la liste des questions</a></h1>

    {% endif %}
    {% else %}
    <form method="POST" class=" col-md-12">
        <h1 class="h3 mb-3 font-weight-normal">Ajouter une question</h1>
        <label for="intitule" class="sr-only ">Intitulé</label>
        <textarea type="text" name="intitule" id="intitule" class="form-control" placeholder="Intitulé" required></textarea>
        <label for="reponse" class="sr-only">Réponse</label>
        <input type="text" name="reponse" id="reponse" class="form-control" placeholder="Réponse" required>
        <select class="form-control" id="idTest" name="idTest">
            {% for t in liste %}
            <option value="{{ t.id }}">{{ t.nom }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-sm btn-primary btn-block" type="submit" name="btAjoutQuestion">Ajouter</button>
    </form>
    {% endif %}
{% endblock %}