{# empty Twig template #}
{% extends "base.html.twig" %}
{% block style %} <link href="css/apropos.css" rel="stylesheet">{% endblock %}
{% block contenu %}
    <h1 class="text-center"> A propos </h1>
    <h2 class="text-center apropos">Tout d'abord bienvenue à vous sur notre site</h2>
    <h3 class="text-center apropos">Je me présente, je suis MAZIERE Maxence, un étudiant à l'EPSI situé à Arras et j'ai toujours été passionné par
        la langue anglaise, ce pourquoi j'ai décidé de créer ce site, pour partager ma passion de l'anglais</h3>
    <h2 class="text-center apropos">Comment ça fonctionne ?</h2>
    <h3 class="text-center apropos">Tout d'abord vous pouvez aller dans la section "Profil" pour vous inscrire ou vous connecter, une fois cela fait, vous pourrez acceder à votre profil
    qui contiendra vos données que vous pouvez modifier ainsi que vos résultats</h3>
    <h3 class="text-center apropos">Vous aurez accès à la section "Acceder aux tests" pour commencer à vous entraîner et à perfectionner votre anglais !</h3>
    <h4 class="text-center apropos">Attention le test n'affichera votre score qu'a la fin ! Donc impossible de savoir quelle question vous avez loupé ! Après tout,
        un bilingue doit reconnaître ses erreurs </h4>
    <h2 class="text-center apropos">C'est à peu près tout ce que ce site vous propose et en attendant vos retours, Enjoy~ </h2>
{% endblock %}