<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title> Englearn </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link href="css/style.css" rel="stylesheet">
        <link href="css/style-signin.css" rel="stylesheet">
        {% block style %} {% endblock %}
    </head>
    <body class="bg-light">
    {% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.php?page=accueil">Englearn</a>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li><a target="_blank" class="nav-link" href="https://facebook.com"> <i style="font-size:24px" class="fa">&#xf082;</i></a></li>
                <li><a target="_blank" class="nav-link" href="https://twitter.com"> <i style="font-size:24px" class="fa">&#xf081;</i></a></li>
                <li><a class="nav-link" href="index.php?page=apropos"> A propos <span class="sr-only">(current)</span></a></li>
                <li><a class="nav-link" href="index.php?page=mentions">Mentions légales</a></li>
                <li><a class="nav-link" href="index.php?page=listeCommentaire">Commentaire</a></li>
                <li><a class="nav-link" href="index.php?page=tests">Acceder aux tests</a></li>

                {%  if session.role == 1 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="index.php?page=ajoutTest">Ajouter Tests</a>
                            <a class="dropdown-item" href="index.php?page=listeTest">Liste Tests</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="index.php?page=ajoutQuestion">Ajouter Questions</a>
                            <a class="dropdown-item" href="index.php?page=listeQuestion">Liste Questions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="index.php?page=listeUtilisateur">Liste Utilisateurs</a>
                        </div>
                    </li>
                {% endif %}
            </ul>

            <div class="d-flex flex-row-reverse bd-highlight">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if session.login is defined %}
                                <a class="dropdown-item" href="index.php?page=profil">Acceder à mon profil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="index.php?page=deconnexion">Se déconnecter</a>
                            {% else %}
                                <a class="dropdown-item" href="index.php?page=connexion">Se connecter</a>
                                <a class="dropdown-item" href="index.php?page=inscription">S'inscrire</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>

            </div>

            <form class="form-inline my-2 my-lg-0" action="index.php?page=rechercheUtilisateur" method="post" enctype="application/x-www-form-urlencoded">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher" name="Recherche" id="Recherche">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="btRecherche" id="btRecherche">Ok</button>
            </form>

        </div>
    </nav>
        {% block image %}

        {% endblock %}

        <div class="row" >
            <div class="mx-auto text-center" style="margin-top: 50px">
                {% block contenu %}

                {% endblock %}
            </div>
        </div>



    {% endblock %}
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    </body>
</html>