{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center text-primary"> MPMaster : Créez vos propres diagrammes MPM </h1>
   {% if session.login is defined %}
                    <h3>Bonjour {{session.login}}</h3>
                  {% endif %}

{% endblock %}