{# empty Twig template #}
{% extends "base.html.twig" %}
{% block image %}

    <div class="card bg-dark text-white">
        <img src="images/accueil.jpg" class="card-img" alt="Accueil">

        <div class="card-img-overlay row">
            <div class="col-md-2 col-sm-2"></div>
            <h5 class = "col-md-10 col-sm-10" > Want to perfect your english ? Well this site may be for you ! You may sign up now and start learning !</h5>
        </div>

        <img src="images/learn.jpg" class="card-img" alt="Accueil">

    </div>
{% endblock %}