{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}


<div class="example-wrapper">
<img src="../../templates/base/ab.jpg">

<h1>Hello  ✅</h1>


This friendly message is coming from:

<ul>

</ul>

</div>
  
{% endblock %}
