{% extends 'base.html.twig' %}

{% block title %}Hello MesChampsController!{% endblock %}

{% block content %}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- row -->
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table class="table">
                <h4><i class="fa fa-angle-right"></i> Liste des champs</h4>
                <hr>
                <thead>
                  <tr>
                    <th>Ilots</th>
                    <th>Nom</th>
                    <th>Surface</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>123456789 </td>
                    <td>Prairie </td>
                    <td>1,53 ha</td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                 <tr>
                    <td>123456789 </td>
                    <td>Prairie </td>
                    <td>1,53 ha</td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                 <tr>
                    <td>123456789 </td>
                    <td>Prairie </td>
                    <td>1,53 ha</td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                   <tr>
                    <td>123456789 </td>
                    <td>Prairie </td>
                    <td>1,53 ha</td>
                    <td>
                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>   
                      <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
      </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
