{% extends 'base.html.twig' %}

{% block title %}Hello MesChampsController!{% endblock %}

{% block content %}
   <section id="main-content">
      <section class="wrapper">
        <h3> Le site est en maintenance pour le moment, veuillez réessayer ultérieurement.</h3>
        </section>
        </section>
{% endblock %}
