{# empty Twig template #}
{% extends "base.html.twig" %}
{% block image %}
    <h1> Mentions Légales :</h1>

    <h3 style="padding-top: 10px;color: blue">Responsable et éditeur du site: </h3>
    <h4>Englearn</h4>
    <h4>Maxence MAZIERE</h4>
    <h4>39 rue de la république - 62000 DAINVILLE</h4>
    <h4>Tel : 06 95 39 07 62</h4>
    <h4>Email : maxence.maziere@epsi.fr</h4>
    <h3 style="padding-top: 10px;color: blue"> Hébergeur</h3>
    <h4>cloud.arras-sio.com</h4>
    <h4>Julien LE GALES</h4>
    <h4>Tel:</h4>
    <h4>Email : julien.legales@gmail.com </h4>
{% endblock %}