{% extends "base.html.twig" %}
{% block contenu %}
    {% if form.modif == true %}
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal"> Le test a bien été modifié </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeTest">Retourner sur la liste des tests</a></h1>
        {% else %}
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=listeTest">Retourner sur la liste des tests</a></h1>
        {% endif %}

    {% else %}



        <form method="POST" class=" col-md-12" action="#">
            <h1 class="h3 mb-3 font-weight-normal">Modifier un test</h1>
            <label for="nom" class="sr-only ">Nom</label>
            <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" value="{{ test.nom }}" required> <!-- on ne peut malheureusement pas mettre de value dans un textarea, ce pourquoi c'est un input -->
            <button class="btn btn-sm btn-primary btn-block" type="submit" name="btModifTest">Modifier</button>
        </form>
    {% endif %}
{% endblock %}