{% extends "base.html.twig" %}
{% block contenu %}
    <h6>Upload a different photo...</h6>
    <form class="form" action="index.php?page=modifprofil" method="post" id="registrationForm" enctype="multipart/form-data">
        <label for="photo" class="sr-only">Photo :</label><input type="file" name="photo" id="photo" style="padding-bottom: 10px"  class="text-center center-block file-upload ">
        <input type="hidden" id="email" name="email" value="{{ form.email }}">
        <button class="btn btn-secondary" type="submit" id="btModifImage" name="btModifImage"><i class="glyphicon glyphicon-ok-sign"></i> Modifier l'image </button>

    </form>
{% endblock %}