{% extends "base.html.twig" %}
{% block contenu %}
    {% if session.login is defined %}
        {% if form.finTest == false %}
        <h1 style="padding-bottom: 50px" class = 'col-md-12'>{{ session['question'][session['questionActuelle']].intitule }}</h1>
            <form class = "form-signin" action="#" method="post" enctype="application/x-www-form-urlencoded" >
                <div class = "row">
                    <label for="reponse" class="sr-only">Answer :</label>
                    <input type="text" id="reponse" name="reponse" class="form-control col-md-9" placeholder="Answer" required>
                    <button class="btn btn-md btn-primary col-md-3" type="submit" name="btReponse" id="btReponse">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            {% else %}
                {% if form.valide is defined %}
                    <div class="alert alert-danger h3 mb-3 font-weight-normal" role="alert">
                        {{ form.message }}
                    </div>
                {% endif %}
                <h1> Vous avez terminé le test ! Voici votre résultat : {{ session.score }} / {{ nbQuestions }}</h1>
                <h2><a href="index.php?page=tests">Revenir aux choix de tests</a></h2>
                {% endif %}
    {% else %}
        <h2>Veuillez vous <a href="index.php?page=connexion">connecter</a> ou vous <a href="index.php?page=inscription">inscrire</a> pour acceder aux questions</h2>
    {% endif %}
{% endblock %}