{% extends 'base.html.twig' %}
{% block contenu %}
    {% if session.login is defined %}
    <h2 style="padding-bottom: 50px">Bienvenue dans la selection des tests, d'abord, choisissez votre test :</h2>
        <h2> </h2>
    <div class="row">
        {% for t in liste %}
        <form class="col-md-4" style="padding-bottom: 10px"><a class="btn btn-danger btn-lg btn-block" href="index.php?page=question&test={{ t.id }}">{{t.nom}}</a></form>
        {% endfor %}
    </div>
    {% else %}
    <h2>Veuillez vous <a href="index.php?page=connexion">connecter</a> ou vous <a href="index.php?page=inscription">inscrire</a> pour acceder aux questions</h2>
    {% endif %}
{% endblock %}